<form action="/add" method="post" accept-charset="utf-8">
	<label for='i1'>Nome de usuário</label>
	<input type='text' name='nome' id='i1'>
	<br><br>
	<label for='i2'>E-mail do usuário</label>
	<input type='text' name='email' id='i2'>
	</br><br>
	<label for='i3'>Senha</label>
	<input type='password' name='senha' id='i3'>
	</br><br>
	<button type="submit"> Cadastrar-se</button>
</form>