<form action="/addTurmas" method="post" accept-charset="utf-8">
	<label for='i1'>Zona da Turma:</label>
	<select name="zona" id="i1">
		<option hidden>Selecione a Zona desejada:</option>
		<option>Norte</option>
		<option>Sul</option>
		<option>Leste</option>
		<option>Oeste</option>
	</select>
	<br><br>
	<label for='i2'>Local da Turma:</label>
	<input type='text' name='local' id='i2'>
	</br><br>
	<label for='i3'>Horário da Turma:</label>
	<input type='text' name='horario' id='i3'>
	</br><br>
	<label for="i4">Instrutor da Turma:</label>
	<input type="text" name="instrutor" id='i4'>

	<button type="submit"> Cadastrar-se</button>
</form>