<form action="/add" method="post" accept-charset="utf-8">
	<label for='i1'>Categoria de usuário</label>
	<select name="tipo" id="i1">
		<option hidden>Selecione sua Categoria</option>
		<option>Ciclista</option>
		<option>Profissional</option>
	</select>
	<br><br>
	<label for='i2'>Nome do usuário</label>
	<input type='text' name='nome' id='i2'>
	</br><br>
	<label for='i3'>Senha</label>
	<input type='password' name='senha' id='i3'>
	</br><br>
	<button type="submit"> Cadastrar-se</button>
</form>