<h1> Bem vindo {{ nome_cli }} Profissional</h1>
	<table border="1">
		<tr>
			<th>Usuario</th>
			<th>Senha</th>
		</tr>
		<tr>
			<td>{{nome_cli}}</td>
			<td>{{senha_cli}}</td>
		</tr>
	</table>
	<br>
	<a href="/login"><button>Sair</button></a>