<h1> Bem vindo {{ nome_cli }} Profissional</h1>
	<table border="1">
		<tr>
			<th>Usuario</th>
			<th>Senha</th>
		</tr>
		<tr>
			<td>{{nome_cli}}</td>
			<td>{{senha_cli}}</td>
		</tr>
	</table>
	<br>
	<button onClick="test()">a</button>
	<a href="/deletar/{{id}}"><button>Deletar</button></a>
	<hr>