    
	<link href="/static/css/index.css" rel="stylesheet">    
        <body class="text-center">
             <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
            <div class="inner">
            <h3 class="masthead-brand">PedaleV!va</h3>
            <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="index.html">Início</a>
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/sobre">Sobre</a>
        </nav>
      </div>
    </header>

    <!--BLOCO CENTRAL-->
    <main role="main" class="inner cover">
        <img src="/static/o.png" width="250" height="250">
        <h1 class="cover-heading">Seus atos influenciam</h1>
            <p class="lead">Você sabia que os carros  representam 72,6% da emissão de gases efeito estufa em SP.
            Pensando nisso a PedaleV!va convida você a criar coragem e ir para a rua de forma segura e divertida 
            nos ajudando cuidar do meio ambiente</p>
            <p class="lead">
            <a href="sobre.html" class="btn btn-lg btn-secondary">Leia mais</a>
            </p>
        </main>

    <!--FOOTER-->
    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>&copy; 2019 - Todos os direitos reservados.</p>
        </div>
    </footer>