<!DOCTYPE html>
<html lang='pt-br'>
<head>
	<meta charset="UTF-8">
	<title>PedaleV!VA</title>
	<link href="/static/css/bootstrap.css" rel="stylesheet">
</head>
<body>
	{{{body}}}
	<script src="/static/js/holder.min.js"></script>    
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
</body>
</html>